<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="target" value="Europa Universalis IV" />
        <add key="version" value="1.28.3.0" />
        <add key="checksum" value="3ba8" />
        <add key="process" value="eu4" />
        <add key="platform" value="steam" />
        <add key="anticheat" value="Steam,Origin,GalaxyClient,Uplay" />
        <add key="samplingratio" value="1000" />
        <add key="refreshrate" value="1" />
        <add key="delay" value="1000" />
        <add key="daypointerpath" value="0x01852BD8,0x19F0" />
        <add key="gamespeedpointerpath" value="0x01852BD8,0x1A04" />
        <add key="gamestatepointerpath" value="0x0,0x0" />
        <add key="framearraypointerpath" value="0x0,0x0" />
  </appSettings>
</configuration>