<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="target" value="Stellaris" />
        <add key="version" value="2.2.4 public beta" />
        <add key="checksum" value="77d4" />
        <add key="process" value="stellaris" />
        <add key="platform" value="steam" />
        <add key="anticheat" value="Steam,Origin,GalaxyClient,Uplay" />
        <add key="samplingratio" value="1000" />
        <add key="refreshrate" value="1" />
        <add key="delay" value="1000" />
        <add key="daypointerpath" value="0x011675E0,0xD4" />
        <add key="gamespeedpointerpath" value="0x011688AC,0x404" />
        <add key="gamestatepointerpath" value="0x011688AC,0x408" />
        <add key="framearraypointerpath" value="0x00423160,0x0" />
  </appSettings>
</configuration>