<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="target" value="Stellaris" />
        <add key="version" value="2.2.7" />
        <add key="checksum" value="ea03" />
        <add key="process" value="stellaris" />
        <add key="platform" value="steam" />
        <add key="anticheat" value="Steam,Origin,GalaxyClient,Uplay" />
        <add key="samplingratio" value="1000" />
        <add key="refreshrate" value="1" />
        <add key="delay" value="1000" />
        <add key="daypointerpath" value="0x011559A0,0xD4" />
        <add key="gamespeedpointerpath" value="0x01156DB0,0x400" />
        <add key="gamestatepointerpath" value="0x01156DB0,0x404" />
        <add key="framearraypointerpath" value="0x00424340,0x0" />
  </appSettings>
</configuration>